{% extends 'base.html' %}
{% load static %}
{% block title %}Health Guidelines{% endblock title %}

{% block body %}

<div class="container-fluid my-3 px-3">
    {% csrf_token %}
    <table class="table table-success table-striped">
        <thead>
            <h3 class="my-4 text-center">Be Healthy</h3>
            <tr>
                <th scope="col">#</th>
                <th scope="col" colspan="3" class="table-active"> BE HEALTHY </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Eat a balanced diet low in fat and high in fiber to
                    guard against cancer and heart disease.</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Eat dairy products and other calcium rich foods to
                    guard against osteoporosis.</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Do aerobic exercise for at least 30 minutes a day
                    three to four times a week.</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Limit your exposure to the sun.</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Stay up-to-date on immunizations and vaccines.</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Do Exercise Daily</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Drink more water</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Maintain Social distance, Wear mast properly, use sanitizer for lasted update of COVID-19</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Consume less salt and sugar.</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Reduce intake of harmful fats.</td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>Check your blood pressure regularly.</td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>Be active</td>
            </tr>
            <tr>
                <th scope="row">13</th>
                <td>Get vaccinated</td>
            </tr>
            <tr>
                <th scope="row">14</th>
                <td>Cover your mouth when coughing or sneezing</td>
            </tr>
            <tr>
                <th scope="row">15</th>
                <td>Prevent mosquito bites</td>
            </tr>
            <tr>
                <th scope="row">16</th>
                <td>Take antibiotics only as prescribed</td>
            </tr>
            <tr>
                <th scope="row">17</th>
                <td>Clean your hands properly
                </td>
            </tr>
            <tr>
                <th scope="row">18</th>
                <td>Have regular check-ups
                </td>
            </tr>
            <tr>
                <th scope="row">19</th>
                <td>Prepare your food correctly
                </td>
            </tr>
            <tr>
                <th scope="row">20</th>
                <td>Drink only safe water
                </td>
            </tr>
            <tr>
                <th scope="row">21</th>
                <td>Limit sugary drinks
                </td>
            </tr>
            <tr>
                <th scope="row">22</th>
                <td>Eat nuts and seeds
                </td>
            </tr>
            <tr>
                <th scope="row">23</th>
                <td>Avoid ultra-processed foods-
                    snack cakes,
                    fast food,
                    frozen meals,
                    canned foods,
                    chips </td>
            </tr>
            <tr>
                <th scope="row">24</th>
                <td>Get enough sleep
                </td>
            </tr>
            <tr>
                <th scope="row">25</th>
                <td>Avoid bright lights before sleep
                </td>
            </tr>
            <tr>
                <th scope="row">26</th>
                <td>Stay hydrated
                </td>
            </tr>
            <tr>
                <th scope="row">27</th>
                <td>Take vitamin D if you are deficient
                </td>
            </tr>
            <tr>
                <th scope="row">28</th>
                <td>Eat plenty of fruits and vegetables
                </td>
            </tr>
            <tr>
                <th scope="row">29</th>
                <td>Eat adequate protein
                </td>
            </tr>
            <tr>
                <th scope="row">30</th>
                <td>Nourish Your Body With Real Foods
                </td>
            </tr>
        </tbody>
    </table>
    {% comment %} <h4 class="my-4">Take this advice but first of all consult your family doctor</h4> {% endcomment %}
</div>

{% endblock body %}