{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock title %}

{% block body %}

<div class="container">
    {% for messages in messages %}
    <p class="alert alert-denger">{{messages}}</p>
    {% endfor %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="pt-5">
            
            <div class="container">
                {% for messages in messages %}
                <p class="alert alert-denger">{{messages}}</p>
                {% endfor %}
                <div class="row">
                    <div class="col-md-5 mx-auto">
                        <div class="card card-body">
                            <form id="submitForm" action="#" method="get" data-parsley-validate=""
                                data-parsley-errors-messages-disabled="true" novalidate="" _lpchecked="1">
                                <input type="hidden" name="_csrf" value="7635eb83-1f95-4b32-8788-abec2724a9a4">
                                <div class="text-center">
                                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                                    <h2 class="text-center">Forgot Password?</h2>
                                    <p>You can reset your password here.</p>
                                    <div class="panel-body">

                                        <form id="register-form" role="form" autocomplete="off" class="form"
                                            method="GET">

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i
                                                            class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                    <input id="email" name="email" placeholder="email address"
                                                        class="form-control" type="email">
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="form-group">
                                                <input name="recover-submit" class="btn btn-lg btn-primary btn-block"
                                                    value="Reset Password" type="submit">
                                            </div>

                                            <input type="hidden" class="hide" name="token" id="token" value="">
                                        </form>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock body %}